---
const {
	title, 
	description,
	technologies,
	github,
	visit
} = Astro.props;
---

<div class="bg-[#14151a] col-span-12 border-0 md:col-span-6 p-4 rounded-lg shadow-xs hover:bg-[#1a1c23]">
	<div class="flex flex-col h-full justify-center">
		<div class="flex flex-row justify-between w-full">
			<h3 class="font-medium pb-8 text-3xl">{title}</h3>
			<div class="flex flex-row space-x-4">
				<a class="py-2" href={github} rel="noreferrer" target="_blank">
					<i class="fa-brands fa-github h-8"/>
				</a>
				<a class="py-2" href={visit} rel="noreferrer" target="_blank">
					<i class="fa-solid fa-arrow-up-right-from-square h-8"/>
				</a>
			</div>
		</div>
		<p class="leading-loose pb-4 text-lg">{description}</p>
		<p class="text-lg text-gray-400">{technologies}</p>
	</div>
</div>